<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      JustPlayPadel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <div id="container">



    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h1>Busca partidos</h1>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
          <ion-col col-3>
            <ion-segment-button value="matches">
              <ion-label>Partidos</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col col-3>
            <ion-segment-button value="tournaments">
              <ion-label>Torneos</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-segment>
      </ion-row>

    </ion-grid>

    <div [ngSwitch]="type">
      <ion-grid *ngSwitchCase="'matches'">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header (click)="toggleAccordionFilterMatches()" color="primary" class="ion-text-center">
                Filtro
              </ion-card-header>
              <ion-card-content #accordionContentFilterMatches>
                <ion-item>
                  <ion-label>Jugadores</ion-label>
                  <ion-range id="dual-range" pin color="dark" min="1" max="4" class="no-padding">
                    <ion-icon slot="start" size="small"></ion-icon>
                    <ion-icon slot="end"></ion-icon>
                  </ion-range>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div *ngFor="let match of matches">
              <ion-card class="club-cards" *ngIf="(match.data.admin != '/players/' + uid && match.data.playerone != '/players/' + uid && match.data.playertwo != '/players/' + uid && match.data.playerthree != '/players/' + uid)">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://cutt.ly/sfCohjf">
                  </ion-avatar>
                  <ion-list slot="start">
                    <ion-label>Participantes: 1/4 {{ match.admin }}</ion-label>
                    <ion-label>Nivel medio: 3,2</ion-label>
                    <ion-label>Club Montepino</ion-label>
                  </ion-list>
                  <ion-icon slot="end" name="arrow-forward-circle-outline" color="primary" size="large" (click)="verPartido(match.id)"></ion-icon>
                </ion-item>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
       
      </ion-grid>

      <ion-grid *ngSwitchCase="'tournaments'">
        <ion-row>
          <ion-col>
            <ion-card class="club-cards">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="https://cutt.ly/sfCohjf">
                </ion-avatar>
                <ion-list slot="start">
                  <ion-label>Torneo: Torneo de padel abierto</ion-label>
                </ion-list>
                <ion-icon slot="end" name="add-circle-outline" color="primary" size="large"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
      
  </div>

</ion-content>


